body {
  background-color: #16aabb;
  font-family: Helvetica;
}

.jumbotron {
  background-color: #16aabb;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  height: 80%;
}

#message {
  color: #333;
}

#inputDiv {
  margin: auto;
  text-align: center;
}

input[type="text"] {
  height: 40px;
  font-size: 20px;
}

#submitWeather {
  height: 40px;
  font-size: 20px;
  font-weight: 200;
}

#show {
  margin: auto;
  margin-top: 20px;
  width: 60%;
}

#alertError{
  text-align: center;
  font-size: 20px;
  font-weight: 550;
  width: 50%;
  margin: 10px auto;
}


footer {
  background-color: #fff;
  font-size: 20px;
  font-weight: 580;
}
